<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="css/perfil.css" />
    <script src="https://kit.fontawesome.com/6b22c9e604.js" crossorigin="anonymous"></script> <!-- Enlace de fontawesome -->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header class="header"> <!-- Encabezado -->
        <nav class="nav">
            <a href="#" aria-label="logo_Halcomercio" class="logo "><!-- Logo -->
                <img alt="" src="css/halcomercio.jpg" class="logo">
            </a> 
    
            <!-- Menu con Bars -->
            <button class="nav-toggle" aria-label="Abrir menú"> 
                <i class="fas fa-bars"></i>
            </button>
    
            <ul class="nav-menu"> <!-- Lista de las secciones -->
                <li class="nav-menu-item">
                    <a href="#carreras" class="nav-menu-link nav-link">Carreras</a>
                    <ul class="submenu"> <!-- Lista de las sub secciones -->
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Lic. Criminalística</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Lic. Contaduría</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Lic. Innovacción de Negocios y Mercadotecnia</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Lic. en Enfermería</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Lic. Salud Reproductiva y Partería</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Lic. Terapia Física</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Lic. en Diseño Digital</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Ing. en Energías Renovables</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Ing. Industrial</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Ing. Mecatrónica</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Ing. Nanotecnoligía</a></li>
                        <li><a href="catalogo.html" class="nav-menu-link nav-link">Ing. en Desarrollo y Gestión de Software</a></li>
                    </ul>
                </li>
                <li class="nav-menu-item">
                    <a href="catalogo.html" class="nav-menu-link nav-link">Uniformes</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#favoritos" class="nav-menu-link nav-link">Favoritos</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#foroBusqueda" class="nav-menu-link nav-link">Foro de Busqueda</a>
                </li>
                <li class="perfil">
                    <a href="perfil.html" aria-label="perfil_Usuario" class=" fa fa-user" ></a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="css/pf.jpg" alt="img-avatar">
                    <button aria-label="bt"type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">User</h3>
                <p class="titulo">1234567</p>
            </div>
            <div class="perfil-usuario-footer">
                    <table>
                        <ybody>
                            <tr>
                                <td>Número de teléfono: </td>
                            </tr>
                            <tr>
                                <td>Email: </td>
                            </tr>
                            <tr>
                                <td>Carrera: </td>
                            </tr>
                        </tbody>
                    </table>

                <button class="btn">Editar</button>
                <button class="btn2">Ver publicaciones</button>

            </div>
        </div>
    </section>
    <script src="js.js"></script>
</body>
</html>