<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register - MagtimusPro</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <script type="text/javascript" src="js/register_user.js"></script>
        <main>

            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar al sitio web</p>
                        <br><br>
                        <a style="    padding: 10px 40px;
                        border: 2px solid #fff;
                        font-size: 14px;
                        background: #0b1648;
                        font-weight: 600;
                        cursor: pointer;
                        color: white;
                        outline: none;
                        transition: all 300ms;" href="index.html">Inicia Sesion</a>
                    </div>
                </div>

                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Register-->
                    <form action="" class="formulario__login">
                        <h2>Regístrarse</h2>
                        <input id="name" type="text" placeholder="Nombre completo" required>
                        <input id="telefono" type="text" placeholder="Número Telefonico" required>
                        <input id="login-name" type="email" placeholder="Correo Electronico Institucional" required>
                        <select name="" id="carrera" required>
                            <option value="">--Selecciona tu carrera--</option>
                            <option value="Criminalística">Lic. Criminalística</option>
                            <option value="Contaduría">Lic. Contaduría</option>
                            <option value="Innovacción de Negocios y Mercadotecnia">Lic. Innovacción de Negocios y Mercadotecnia</option>
                            <option value="Enfermería">Lic. en Enfermería</option>
                            <option value="Salud Reproductiva y Partería">Lic. Salud Reproductiva y Partería</option>
                            <option value="Terapia Física">Lic. Terapia Física</option>
                            <option value="Diseño Digital">Lic. en Diseño Digital</option>
                            <option value="Energías Renovables">Ing. en Energías Renovables</option>
                            <option value="Industrial">Ing. Industrial</option>
                            <option value="Mecatrónica">Ing. Mecatrónica</option>
                            <option value="Nanotecnoligía">Ing. Nanotecnoligía</option>
                            <option value="Desarrollo y Gestión de Software">Ing. en Desarrollo y Gestión de Software</option>
                        </select>
                        <input id="matricula" type="text" placeholder="Matricula" required>
                        <input id="login-pass" type="password" placeholder="Contraseña" required>
                        <br><br><br>
                        <a href="#" onclick="insertUser()" style="    padding: 10px 40px;
                        border: 2px solid #fff;
                        font-size: 14px;
                        background: #0b1648;
                        font-weight: 600;
                        cursor: pointer;
                        color: white;
                        outline: none;
                        transition: all 300ms;">Registrarse</a>
                    
                    </form>
                </div>
            </div>

        </main>
</body>
</html>