<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="UTF-8">
    </head>
    <header>
        <title>Recuperar Contraseña</title>
    </header>
    <body>
        <script type="text/javascript" src="js/resetPassword.js"></script>
        <form id="form_usuario" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Recupera tu Contraseña</h1>
                </div>
    
                <div class="login-form">
                    <div class="control-group">
                    <input type="email" class="login-field" value="" placeholder="Correo electronico" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>

                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <a class="btn btn-primary btn-large btn-block"  onclick="resetPassword()">Entrar</a>
                    <a class="login-link" href="login.html">¿Ya tienes una cuenta? Inicia sesion</a>
                </div>
            </div>
        </div>
    </form>
    </body>
</html>